@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top {
    background-color: $gray;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    text-align: center;
    align-items: center;
}

.header__top-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #000;
        span {
            color: $blue;
        }
    }
}

.header__top-sell {
    background-color: $blue;
    padding: 12px 18px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
    font-size: 14px;
    margin-left: auto;
    margin-right: 50px;
}

.header__top-btn {
    background-color: $blue;
    padding: 12px 18px;
    border-radius: 36px;
    font-size: 14px;
}

.header__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    li + li {
        margin-left: 34px;
    }
    a {
        color: #333;
        display: inline-block;
        font-size: 15px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.menu-search {
    min-width: 360px;
    position: relative;
    input {
        display: block;
        width: 100%;
        height: 45px;
        border: none;
        border: 1px solid #d9dfe5;
        padding-right: 100px;
        padding-left: 25px;
        border-radius: 45px;
        font-size: 15px;
        &::placeholder {
            color: #898f96;
        }
    }
    button {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70px;
        height: 45px;
        background-color: $blue;
        border: none;
        cursor: pointer;
        border-radius: 45px;
        &::before{
            content: '\f002';
            font-family: 'icomoon';
            font-size: 15px;
            color: #fff;
        }
    }
}

// end header 

// star search

.search {
    background-color: $bg;
    min-height: 727px;
}

.search__content {
    text-align: center;
}

.search__content-title {
    padding-top: 185px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 2px;
    span {
        font-weight: 700;
    }
}

.search__content-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 72px;
    margin-bottom: 42px;
}

.search__content-btn {
    a {
        padding: 21px 32px;
        background-color: $bg;
        border: 1px solid #fff;
        border-radius: 55px;
        & + a {
            margin-left: 30px;
        }
        transition: all .5s;
        &:hover {
            background-color: #fff;
            color: $blue;
            border: 1px solid $bg;
        }
    }
}

.bgi-1 {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    opacity: 0.502;
    position: absolute;
    margin: 140px 30px; 
    min-width: 1080px;
    height: 135px;
    z-index: 0;
} 

.bgi-2 {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    opacity: 0.502;
    position: absolute;
    margin: 155px 15px;
    min-width: 1110px;
    height: 135px;
    z-index: 1;
}

.bgi-main {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    margin-top: 170px;
    width: 1140px;
    height: 135px;
    z-index: 2;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 135px;
        .search__btn {
            border: none;
            background-color: $blue;
            padding: 22px 67px;
            margin-right: 40px;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }
    }
    &__box {
        min-width: 810px;
        margin-left: 40px;
        position: relative;
        input {
            display: block;
            width: 100%;
            border: 1px solid #dcdcdc;
            border-radius: 4px;
            padding: 20px 400px 20px 28px;
            font-size: 16px;
            &:focus-visible {
                outline: none;
            }
        }
        .bgi-category {
            position: absolute;
            right: 0;
            top: 0;
            height: 60px;
            border: 1px solid #dcdcdc;
            border-radius: 4px;
            min-width: 195px;
            color: #555555;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 22px;
            button {
                cursor: pointer;
                height: 55px;
                width: 50px;
                background-color: #fff;
                border: none;
                &::before {
                    content: '\f107';
                    font-family: 'icomoon';
                    color: #676767;
                    font-size: 20px;
                }
            }
        }
    }
}

// end search

// start items

.items__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 185px;
    padding-bottom: 185px;
    &-box {
        width: 361px;
        min-height: 403px;
        transition: all .5s;
        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
        img {
            margin-top: 43px;
            margin-bottom: 37px;
        }
        .box__title {
            font-size: 24px;
            color: #010101;
            margin-bottom: 30px;
        }
        .box__text {
            color: #555555;
            width: 295px;
            margin: 0 auto;
        }
    }
}

// end items

// start slider

.slider {
    background-color: $gray;
    &__inner {
    padding: 120px 0;
        &-title {
            font-size: 30px;
            color: #000;
            background-color: #fff;
            padding: 44px 30px;
            border-radius: 4px;
            box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
            margin-bottom: 50px;
        }
        &-item {
            display: flex;
            justify-content: space-between;
        }
    }
}

.content {
    &__img {
        min-height: 450px;
        min-width: 555px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
    }
    &__inner {
        background-color: #fff;
        padding: 50px 50px 25px;
        max-height: 450px;
    }
}

.content__title {
    font-weight: 500;
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

.content__author {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 35px;
    .avatar {
        width: 30px;
        height: 30px;
        background-position: center;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 14px;
    }
    a {
        font-size: 15px;
        color: black;
        margin-right: 21px;
    }
    span {
        padding-left: 25px;
        position: relative;
        a{
           color: $pink; 
        }
        &::before {
            content: '';
            background-image: url(../images/slider/icon-1.png);
            width: 16px;
            height: 16px;
            left: 0;
            top: 2px;
            position: absolute;
        }
    }
}

.content__text {
    color: #555555;
    line-height: 30px;
    margin-bottom: 29px;
}

.content__tegs {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #ececec;
    a {
        background-color: #f1f3f6;
        font-size: 15px;
        color: #868c96;
        padding: 6px 13px;
        border-radius: 29px;
        margin-bottom: 45px;
        transition: all .3s;
        & + a {
            margin-left: 7px;
        }
        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }
}

.content__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    &-price {
        background-color: $blue;
        padding: 9px 19px;
        font-weight: 500;
        font-size: 15px;
        border-radius: 33px;
        margin-right: 19px;
    }
    &-num {
        margin-right: auto;
        padding-left: 26px;
        color: black;
        font-size: 15px;
        position: relative;
        &::before {
            content: '\f08a';
            font-family: 'icomoon';
            position: absolute;
            left: 0;
            font-size: 16px;
            color: $pink;
        }
        span {
            margin-left: 15px;
            padding-left: 23px;
            position: relative;
            color: $blue;
            &::before {
                content: '\e900';
                font-family: 'icomoon';
                left: 0;
                position: absolute;
                font-size: 15px;
                color: $blue;
            }
        }
        &-star {
            font-size: 17px;
            color:black
        }
    }
}

.jq-ry-normal-group.jq-ry-group {
    display: none;
}

.slick-arrow {
	width: 55px;
	height: 45px;
	background-color: $pink;
    border: none;
    position: absolute;
    cursor: pointer;
}

.slick-prev {
    border-radius: 45px 0 0 45px;
    top: -133px;
    right: 85px;
}

.slick-next {
    border-radius: 0 45px 45px 0;
    top: -133px;
    right: 30px;
}

// end slider

// start products

.products {
    background-color: #f6f7fb;
    &__inner {
        padding: 120px 0;
        &-title {
            font-size: 30px;
            color: #000;
            background-color: #fff;
            padding: 45px 30px;
            border-radius: 4px;
            box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
            margin-bottom: 28px;
        }
        &-btn {
            padding: 30px;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
            margin-bottom: 50px;
            button {
                background-color: #f1f3f6;
                border: none;
                padding: 7px 16px;
                border-radius: 32px;
                color: #747b86;
                font-size: 15px;
                cursor: pointer;
                & + button {
                    margin-left: 8px;
                }
                &.mixitup-control-active {
                    background-color: $blue;
                    color: #fff;
                }
            }
        }
        &-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 30px;
        }
        &-show {
            text-align: center;
            a {
                padding: 21px 33px;
                background-color: $blue;
                border-radius: 55px;
                color: #fff;
            }
        }
    }
}

.products__item {
    max-width: 361px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
    &-img {
        display: block;
        background-image: url(../images/products/item-img.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 230px;
        position: relative;
        transition: all .3s;
        &:hover {
            background-image: url(../images/products/item-bg.jpg);
            .img-hover {
                display: block;
            }
        }
        .img-hover {
            margin-top: 93px;
            margin-left: 45px;
            position: absolute;
            display: none;
        }
        a {
            background-color: transparent;
            border: 1px solid #fff;
            padding: 16px 27.5px;
            font-size: 15px;
            font-weight: 500;
            border-radius: 45px;
            transition: all .3s;
            & + a {
                margin-left: 11px;
            }
            &:hover {
                background-color: #fff;
                border: 1px solid transparent;
                color: $blue
            }
        }
    }
    &-box {
        padding: 30px 30px 35px;
        border-bottom: 1px solid #ececec;
    }
    &-title {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        margin-bottom: 20px;
    }
    &-author {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 35px;
        .avatar {
            width: 30px;
            height: 30px;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 7px;
        }
        a {
            font-size: 15px;
            color: #000;
            margin-right: 20px;
        }
        span {
            position: relative;
            padding-left: 25px;
            a{
              font-size: 15px;
            color: $pink;  
            }
            &::before {
                content: '';
                background-image: url(../images/slider/icon-1.png);
                position: absolute;
                width: 16px;
                height: 16px;
                left: 0;
                top: 2px;
            }
        }
    }
    &-text {
        line-height: 30px;
        color: #555555;
    }
    &-bottom {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 15px 30px;
    }
}

.item {
    &__price {
        padding: 8px 18px;
        background-color: #e6f1fd;
        border-radius: 30px;
        margin-right: 14px;
        a {
            font-size: 15px;
            font-weight: 500;
            color: $blue;
        }
    }
    &__heart {
        padding-left: 22px;
        font-size: 15px;
        color: #6f7d8d;
        position: relative;
        margin-right: 16px;
        &::before {
            position: absolute;
            content: '\f08a';
            font-family: 'icomoon';
            font-size: 15px;
            color: $pink;
            left: 0;
            top: 0;
        }
    }
    &__cart {
        margin-left: auto;
        padding-left: 23px;
        position: relative;
        &::before {
            position: absolute;
            content: '\e900';
            font-family: 'icomoon';
            font-size: 15px;
            color: $blue;
            left: 0;
            top: 1px;
        }
        a {
            color: $blue;
            font-size: 15px;
        }
    }
}

// end products

// start feed

.feed {
    background-color: $gray;
    &__inner {
        padding: 120px 0;
        &-title {
            font-size: 30px;
            color: #000;
            background-color: #fff;
            padding: 45px 30px;
            border-radius: 4px;
            box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
            margin-bottom: 50px;
        }
        &-items {
            .slick-arrow {
                background-color: $blue;
            }
            .slick-slide {
                width: 390px;
            }
        }
    }
}

.feed__slider-item {
    background-color: #fff;
}


// end feed 

// start fact

.fact {
    background-color: #212225;
    &__inner {
        padding: 96px 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__box {
        text-align: center;
        position: relative;
        padding-top: 93px;
        font-size: 36px;
        color: #feb71d;
        span {
            font-size: 18px;
            color: #fff;
        }
        &::before {
            content: '\f0b1';
            font-family: 'icomoon';
            position: absolute;
            top: 0;
            left: 32px;
            font-size: 48px;
            color: #feb71d;
        }
    }
    &__box2 {
        text-align: center;
        position: relative;
        padding-top: 89px;
        font-size: 36px;
        color: #58c9e9;
        span {
            font-size: 18px;
            color: #fff;
        }
        &::before {
            content: '\f0ed';
            font-family: 'icomoon';
            position: absolute;
            top: 0;
            left: 16px;
            font-size: 48px;
            color: #58c9e9;
        }
    }
    &__box3 {
        text-align: center;
        position: relative;
        padding-top: 94px;
        font-size: 36px;
        color: #77de51;
        span {
            font-size: 18px;
            color: #fff;
        }
        &::before {
            content: '\f118';
            font-family: 'icomoon';
            position: absolute;
            top: 0;
            left: 51px;
            font-size: 48px;
            color: #77de51;
        }
    }
    &__box4 {
        text-align: center;
        position: relative;
        padding-top: 89px;
        font-size: 36px;
        color: #ff6a6d;
        span {
            font-size: 18px;
            color: #fff;
        }
        &::before {
            content: '\f0c0';
            font-family: 'icomoon';
            position: absolute;
            top: 0;
            left: 26px;
            font-size: 48px;
            color: #ff6a6d;
        }
    }
}

// end fact

// start advantages

.advantages {
    background-color: #fefefe;
    &__inner {
        padding: 120px 0 90px;
        &-title {
            text-align: center;
            color: #000;
            font-size: 36px;
            width: 680px;
            margin: 0 auto;
            margin-bottom: 64px;
            span {
                color: $blue;
            }
            .advantages__title-text {
                font-size: 16px;
                color: #555555;
                line-height: 30px;
                margin-top: 28px;
            }
        }
        &-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .advantages__item {
                max-width: 360px;
                width: 100%;
                padding: 55px 34px 60px;
                text-align: center;
                position: relative;
                background-color: #fff;
                border-radius: 4px;
                box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
                margin-bottom: 30px;
                &-1::before {
                    content: '01';
                    font-size: 48px;
                    color: #5c87f8;
                    opacity: .2;
                    position: absolute;
                    top: 19px;
                    left: 19px;
                }&-2::before {
                    content: '02';
                    font-size: 48px;
                    color: #5c87f8;
                    opacity: .2;
                    position: absolute;
                    top: 19px;
                    left: 19px;
                }&-3::before {
                    content: '03';
                    font-size: 48px;
                    color: #5c87f8;
                    opacity: .2;
                    position: absolute;
                    top: 19px;
                    left: 19px;
                }&-4::before {
                    content: '04';
                    font-size: 48px;
                    color: #5c87f8;
                    opacity: .2;
                    position: absolute;
                    top: 19px;
                    left: 19px;
                }&-5::before {
                    content: '05';
                    font-size: 48px;
                    color: #5c87f8;
                    opacity: .2;
                    position: absolute;
                    top: 19px;
                    left: 19px;
                }&-6::before {
                    content: '06';
                    font-size: 48px;
                    color: #5c87f8;
                    opacity: .2;
                    position: absolute;
                    top: 19px;
                    left: 19px;
                }
                &-title {
                    font-size: 24px;
                    color: #000;
                    padding-top: 100px;
                    position: relative;
                    margin-bottom: 30px;
                    &1::before {
                        content: '\f2c3';
                        font-family: 'icomoon';
                        position: absolute;
                        top: 0;
                        left: 90px;
                        right: 90px;
                        font-size: 60px;
                        color: $blue;
                    }
                    &2::before {
                        content: '\e997';
                        font-family: 'icomoon';
                        position: absolute;
                        top: 0;
                        left: 90px;
                        right: 90px;
                        font-size: 60px;
                        color: #7f4ec2;
                    }
                    &3::before {
                        content: '\e901';
                        font-family: 'icomoon';
                        position: absolute;
                        top: 0;
                        left: 90px;
                        right: 90px;
                        font-size: 60px;
                        color: #77de51;
                    }
                    &4::before {
                        content: '\f080';
                        font-family: 'icomoon';
                        position: absolute;
                        top: 0;
                        left: 90px;
                        right: 90px;
                        font-size: 60px;
                        color: #feb71d;
                    }
                    &5::before {
                        content: '\e9a4';
                        font-family: 'icomoon';
                        position: absolute;
                        top: 0;
                        left: 90px;
                        right: 90px;
                        font-size: 60px;
                        color: #58c9e9;
                    }
                    &6::before {
                        content: '\e942';
                        font-family: 'icomoon';
                        position: absolute;
                        top: 0;
                        left: 90px;
                        right: 90px;
                        font-size: 60px;
                        color: #ff6a6d;
                    }
                }
                &-text {
                    font-size: 16px;
                    color: #555555;
                    line-height: 30px;
                }
            }
        }
    }
}

// end advantages

// start marketing

.marketing {
    &__inner {
        display: flex;
        justify-content: space-between;
        &-buy {
            padding: 95px 185px;
            text-align: center;
            background-image: url(../images/marketing/bg-1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 50%;
            min-height: 560px;
            img {
                margin-bottom: 50px;
            }
            .buy {
                &__title {
                    font-size: 36px;
                    margin-bottom: 34px;
                }
                &__text {
                    font-size: 16px;
                }
                &__btn {
                    background-color: #fff;
                    padding: 19px 25px;
                    width: 190px;
                    margin: 50px auto 0;
                    border-radius: 55px;
                    a {
                        color: $blue;
                        font-size: 16px;
                    }   
                }
            }
        }
        &-sell {
            padding: 95px 185px;
            text-align: center;
            background-image: url(../images/marketing/bg-2.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 50%;
            min-height: 560px;
            img {
                margin-bottom: 50px;
            }
            .sell {
                &__title {
                    font-size: 36px;
                    margin-bottom: 34px;
                }
                &__text {
                    font-size: 16px;
                }
                &__btn {
                    background-color: #fff;
                    padding: 19px 25px;
                    width: 190px;
                    margin: 50px auto 0;
                    border-radius: 55px;
                    a {
                        color: $pink;
                        font-size: 16px;
                    }   
                }
            }
        }
    }
}

// end marketing

// start feedback

.feedback {
    background-color: #fefefe;
    &__inner {
        padding: 120px 0;
        &-title {
            text-align: center;
            color: #000;
            font-size: 36px;
            width: 680px;
            margin: 0 auto;
            margin-bottom: 60px;
            span {
                color: $blue;
            }
            .feedback__title-text {
                font-size: 16px;
                color: #555555;
                line-height: 30px;
                margin-top: 35px;
            }
        }
        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
            .feedback__content-box {
                max-width: 555px;
                width: 100%;
                padding: 50px 40px 35px;
                box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
                border-left: 2px solid $blue;
                .box__author {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    position: relative;
                    margin-bottom: 22px;
                    .avatar {
                        width: 80px;
                        height: 80px;
                        background-position: center;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-right: 19px;
                    }
                    &-text {
                        font-size: 20px;
                        color: #000;
                        span {
                            color: #555555;
                            margin-top: 19px;
                            font-size: 16px;
                        }
                    }
                    &::after {
                        content: '\f0e5';
                        position: absolute;
                        right: 0;
                        top: -5;
                        font-size: 60px;
                        color: #e8e8e8;
                        font-family: 'icomoon';
                    }
                }
                .box__text {
                    color: #555555;
                    line-height: 30px;
                }
            }
        }
        &-btn {
            text-align: center;
            a {
                padding: 18px 40px;
                background-color: $blue;
                font-size: 16px;
                border-radius: 55px;
            }
        }
    }
}

// end feedback

